---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import PostCard from "@/components/PostCard.astro";
import { getSortedPostsData } from "@/lib/posts";

const posts = getSortedPostsData();
---

<Layout
  title="에이정, 가장 쉬운 AI교육 공식 블로그"
  description="AI교육,AI활용법,AI트렌드 주제로 운영하고 있습니다. AI는 선택이 아닌 필수, 에이정과 함께 하세요!"
>
  <Header />
  <main>
    {posts.length > 0 ? (
      posts.map((post) => (
        <PostCard
          title={post.title}
          date={post.date}
          excerpt={post.excerpt}
          slug={post.slug}
          lightColor={post.lightColor}
        />
      ))
    ) : (
      <p class="text-gray-500">아직 게시된 글이 없습니다.</p>
    )}
  </main>
</Layout>
